.header {
  overflow: hidden; }
  .header--nav {
    width: 60%;
    margin: 3.5rem auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between; }
    .header--nav-nav {
      display: flex;
      align-items: center;
      gap: 4rem;
      list-style: none; }
    .header--nav-link {
      text-decoration: none;
      font-size: 1.5rem;
      color: #16205a;
      font-weight: 700; }
    .header--nav-item::after {
      content: "";
      width: 0;
      height: 3px;
      margin: 0 auto;
      background: #ff6661;
      display: block;
      transition: all 0.5s; }
    .header--nav-item:hover::after {
      width: 100%; }
  .header--logo {
    margin-right: auto;
    transition: all 0.3s;
    cursor: pointer; }
    .header--logo:hover {
      transform: translateY(-6px); }
  .header--container {
    width: 60%;
    margin: 10rem auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 5rem;
    z-index: 1; }
  .header--img {
    width: 100%; }
  .header--heading {
    font-size: 6rem;
    color: #000629;
    margin-bottom: 2.5rem;
    font-weight: 900;
    transition: all 0.5s; }
    .header--heading:hover {
      scale: 1.05; }
  .header--text {
    font-size: 2rem;
    color: #000629;
    margin-bottom: 2.5rem; }

.bg-png {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  background-image: linear-gradient(rgba(250, 235, 215, 0.5)); }

.openmenu {
  font-size: 3.5rem;
  cursor: pointer;
  display: none;
  border: none;
  outline: none;
  background: none; }

.closemenu {
  font-size: 3.5rem;
  cursor: pointer;
  display: none;
  position: absolute;
  top: 2rem;
  right: 2rem;
  border: none;
  outline: none;
  background: none;
  color: #000; }

@media only screen and (max-width: 1500px) {
  .header--container {
    width: 80%;
    text-align: center;
    grid-template-columns: 1fr; }
  .header--img {
    display: none; }
  .header--heading {
    font-size: 4.5rem;
    font-weight: 600; }
  .header--text {
    font-size: 2.7rem; }
  .header--nav {
    width: 80%; } }

@media only screen and (max-width: 1200px) {
  .openmenu {
    display: block; }
  .closemenu {
    display: block; }
  .header--nav-nav {
    flex-direction: column;
    position: fixed;
    width: 100%;
    height: 100%;
    top: -100%;
    left: 0;
    text-align: center;
    z-index: 10;
    background-color: #fff;
    padding: 3rem;
    padding-top: 15rem;
    align-items: center;
    transition: all 0.5s;
    color: #000;
    text-transform: uppercase; }
  .header--nav-link {
    color: inherit; }
  .header .hidden {
    top: 0; }
  .header .btn {
    margin-left: 0;
    background-color: #ffa90a; } }

* {
  padding: 0;
  margin: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 900px) {
    html {
      font-size: 50%; } }

body {
  font-family: sans-serif;
  font-weight: 500;
  line-height: 1.4; }

::-webkit-scrollbar {
  width: 10px; }

::-webkit-scrollbar-track {
  background: var(--white); }

::-webkit-scrollbar-thumb {
  background: gray; }

.btn {
  padding: 1.8rem 3.5rem;
  outline: none;
  border: none;
  background-color: #ff6661;
  color: white;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.3rem;
  border-radius: 3px;
  margin-left: 5rem;
  cursor: pointer; }
  .btn:active {
    box-shadow: 0 5px rgba(124, 124, 146, 0.2);
    transform: translateY(4px); }

.header-btn {
  margin-left: 0;
  transform: translateX(0); }
  .header-btn:active {
    box-shadow: 0 5px rgba(124, 124, 146, 0.2);
    transform: translateY(4px); }

.btn-about {
  margin-left: 0;
  transform: translateX(0); }
  .btn-about:active {
    box-shadow: 0 5px rgba(124, 124, 146, 0.2);
    transform: translateY(4px); }

.btn-about {
  background: transparent;
  border: 1px solid #fff;
  display: inline-block;
  transform: translateX(0); }
  .btn-about:hover {
    background-color: rgba(255, 255, 255, 0.2); }
  .btn-about:active {
    box-shadow: 0 1px rgba(146, 146, 171, 0.2);
    transform: translateY(4px); }

.fa-bars {
  outline: none;
  border: none;
  display: block;
  font-size: 3rem; }

.about-us {
  padding: 10rem 0;
  background-image: linear-gradient(#f54278, #ff6661);
  position: relative;
  overflow: hidden;
  margin-top: 10rem; }
  .about-us--top {
    text-align: center;
    width: 60%;
    margin: 0 auto; }
  .about-us--heading {
    font-size: 3.5rem;
    color: white;
    font-weight: 700;
    margin-bottom: 2.5rem;
    transition: all 0.5s; }
    .about-us--heading:hover {
      scale: 1.1; }
  .about-us--text {
    font-size: 2rem;
    width: 60%;
    margin: 0 auto;
    color: white;
    margin-bottom: 4.5rem; }
  .about-us .img--container {
    width: 65%;
    margin: 0 auto; }
  .about-us--bottom {
    width: 60%;
    margin: 15rem auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr); }
    .about-us--bottom-heading {
      font-size: 4.5rem;
      color: white;
      line-height: 1.4;
      margin-bottom: 1.8rem;
      transition: all 0.2s; }
      .about-us--bottom-heading:hover {
        scale: 1.05; }
    .about-us--bottom-text {
      font-size: 2.2rem;
      color: white;
      margin-bottom: 2.5rem; }
  .about-us--img {
    width: 100%; }
  .about-us--desc {
    margin-top: 3.5rem; }

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 3rem; }

.card {
  background-color: white;
  padding: 4.5rem 4rem;
  border-radius: 1.2rem;
  transition: all 0.5s; }
  .card--heading {
    color: #000629;
    font-size: 2.5rem;
    margin-bottom: 1.5rem; }
  .card--text {
    color: #7c7c92;
    font-size: 1.7rem;
    width: 90%;
    margin: 0 auto; }
  .card:hover {
    translate: 0 -1.5rem; }

.fa-briefcase {
  font-size: 4rem;
  margin-bottom: 1.7rem;
  color: #ff6661; }

.fa-comments {
  font-size: 4rem;
  margin-bottom: 1.7rem;
  color: #ff6661; }

.fa-rocket {
  font-size: 4rem;
  margin-bottom: 1.7rem;
  color: #ff6661; }

@media only screen and (max-width: 1100px) {
  .about-us--heading {
    font-size: 3.5rem; }
  .about-us--text {
    font-size: 2.5rem;
    width: 100%;
    text-align: center; }
  .about-us--bottom {
    grid-template-columns: 1fr;
    text-align: center;
    width: 80%; }
    .about-us--bottom-heading {
      font-size: 3.5rem; }
  .about-us--top {
    width: 90%; }
  .about-us--img {
    width: 100%; }
  .about-us .img--container {
    width: 100%; }
  .card--text {
    font-size: 2rem; } }

.reason {
  padding: 15rem 0; }
  .reason--container {
    width: 60%;
    margin: 0 auto; }
  .reason--box-1 {
    display: flex;
    align-items: center;
    gap: 5rem;
    margin-bottom: 5rem; }
  .reason--box-2 {
    display: flex;
    align-items: center;
    gap: 5rem;
    flex-direction: row-reverse; }
  .reason--img {
    width: 100%;
    display: block; }
  .reason .description {
    width: 50%;
    margin-right: auto; }
  .reason .description-2 {
    width: 50%;
    margin-left: auto; }
  .reason--heading {
    font-size: 4rem;
    line-height: 1.3;
    margin-bottom: 3rem;
    color: #16205a;
    font-weight: 900;
    transition: all 0.2s; }
    .reason--heading:hover {
      scale: 1.05; }
  .reason--text {
    font-size: 2.1rem;
    color: #7c7c92; }

@media only screen and (max-width: 1100px) {
  .reason--container {
    width: 90%; }
  .reason--box-1 {
    flex-direction: column;
    text-align: center; }
  .reason--box-2 {
    flex-direction: column;
    text-align: center; }
  .reason .description {
    width: 100%; }
  .reason .description-2 {
    width: 100%; }
  .reason--heading {
    font-size: 2.9rem; }
  .reason--text {
    font-size: 2.3rem; } }

.trial {
  padding: 15rem 0; }
  .trial--box {
    width: 60%;
    margin: 0 auto;
    text-align: center;
    padding: 10rem 15rem;
    background-image: linear-gradient(#ff6661, #f54278);
    color: #fff;
    border-radius: 1.5rem; }
  .trial--heading {
    font-size: 4rem;
    margin-bottom: 1.5rem; }
  .trial--text {
    font-size: 1.8rem;
    width: 70%;
    margin: 0 auto;
    margin-bottom: 3.5rem; }
  .trial--heading {
    width: 70%;
    margin: 0 auto;
    margin-bottom: 1.5rem;
    transition: all 0.2s; }
    .trial--heading:hover {
      scale: 1.05; }
  .trial--input {
    border: none;
    outline: none;
    background: transparent;
    color: #fff;
    border-bottom: 2px solid #fff;
    padding: 1rem 1.5rem;
    width: 35%;
    font-size: 1.8rem;
    display: inline-block;
    margin-right: 2.5rem;
    margin-bottom: 1.5rem; }

@media only screen and (max-width: 1400px) {
  .trial {
    padding: 0 2.5rem; }
    .trial--box {
      width: 100%;
      padding: 8rem 3.5rem; }
    .trial--heading {
      font-size: 5rem;
      width: 100%; }
    .trial--text {
      font-size: 2rem;
      width: 100%; }
    .trial--input {
      width: 40%;
      margin: 0 auto; } }

@media only screen and (max-width: 900px) {
  .trial {
    padding: 0 2.5rem; }
    .trial--box {
      width: 100%;
      padding: 8rem 3.5rem; }
    .trial--heading {
      font-size: 4rem;
      width: 100%; }
    .trial--text {
      font-size: 2rem;
      width: 100%; }
    .trial--input {
      width: 40%;
      margin-bottom: 1.5rem;
      margin-right: 1.5rem; } }

.cta {
  padding: 15rem 0; }
  .cta--container {
    width: 60%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 3rem; }
  .cta--heading {
    font-size: 3.5rem;
    width: 60%;
    text-align: left;
    margin-bottom: 4.5rem;
    transition: all 0.2s; }
    .cta--heading:hover {
      scale: 1.05; }
  .cta--img {
    width: auto; }
  .cta--input-group {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-bottom: 3rem; }
  .cta--label {
    font-size: 1.5rem;
    font-weight: 700; }
  .cta--input {
    border: none;
    outline: none;
    background-color: transparent;
    padding: 1rem 0;
    border-bottom: 3px solid #ebebeb;
    font-size: 1.6rem;
    color: #9292ab; }
    .cta--input::placeholder {
      color: #9292ab; }

@media only screen and (max-width: 1400px) {
  .cta {
    padding-bottom: 5rem; }
    .cta--container {
      width: 90%;
      grid-template-columns: 1fr; }
    .cta--heading {
      text-align: center;
      width: 100%; } }

@media only screen and (max-width: 900px) {
  .cta {
    padding-bottom: 5rem; }
    .cta--container {
      width: 90%;
      grid-template-columns: 1fr; }
    .cta--heading {
      text-align: center;
      width: 100%; } }

@media only screen and (max-width: 600px) {
  .cta--img {
    width: 100%;
    object-fit: contain;
    display: flex; } }

.footer {
  padding: 15rem 0;
  padding-bottom: 5rem; }
  .footer--container {
    width: 60%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between; }
  .footer--link-box {
    display: flex;
    column-gap: 2.5rem; }
  .footer--links {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
    width: 180px;
    margin-bottom: 2rem; }
    .footer--links-title {
      font-size: 1.6rem; }
  .footer--link {
    text-decoration: none;
    font-size: 1.4rem;
    color: #9292ab; }
    .footer--link:hover {
      color: #ff6661; }
  .footer--brand-box {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    text-align: right;
    margin-bottom: 2.5rem; }
  .footer--text {
    font-size: 1.5rem;
    text-align: left;
    color: #9292ab; }
  .footer--logo {
    height: 3.5rem; }
  .footer--social-box {
    display: flex;
    gap: 2.3rem; }
  .footer--last {
    display: block;
    width: 100%;
    text-align: center;
    margin-top: 3.5rem;
    font-size: 1.5rem;
    color: #9292ab;
    border-top: 1px solid rgba(46, 46, 46, 0.2);
    padding: 2.5rem 0rem;
    margin-top: 1.5rem; }

.fa-github {
  text-decoration: none;
  font-size: 2rem;
  color: #9292ab; }
  .fa-github:hover {
    color: #ff6661; }

.fa-instagram {
  text-decoration: none;
  font-size: 2rem;
  color: #9292ab; }
  .fa-instagram:hover {
    color: #ff6661; }

.fa-youtube {
  text-decoration: none;
  font-size: 2rem;
  color: #9292ab; }
  .fa-youtube:hover {
    color: #ff6661; }

.fa-facebook {
  text-decoration: none;
  font-size: 2rem;
  color: #9292ab; }
  .fa-facebook:hover {
    color: #ff6661; }

@media only screen and (max-width: 1700px) {
  .footer--container {
    width: 80%; } }

@media only screen and (max-width: 1400px) {
  .footer {
    padding: 0;
    text-align: left; }
    .footer--container {
      width: 80%;
      margin: 0 auto;
      flex-direction: column;
      text-align: left; }
    .footer--link-box {
      flex-direction: column;
      text-align: left; }
    .footer--logo {
      width: 15rem; }
    .footer--text {
      text-align: left; } }

@media only screen and (max-width: 900px) {
  .footer {
    padding: 0;
    text-align: left; }
    .footer--container {
      width: 80%;
      margin: 0 auto;
      flex-direction: column;
      text-align: left; }
    .footer--link-box {
      flex-direction: column;
      text-align: left; }
    .footer--logo {
      width: 15rem; }
    .footer--text {
      text-align: left; } }
