@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;900&family=Source+Sans+Pro:wght@300;400;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;

  @media only screen and (max-width: 900px) {
    font-size: 50%;
  }
}

body {
  font-family: sans-serif;
  font-weight: 500;
  line-height: 1.4;

  // overflow: hidden;
}

// ::-webkit-scrollbar {
//   width: 10px;
// }

// ::-webkit-scrollbar-track {
//   background: var(--white);
// }

// ::-webkit-scrollbar-thumb {
//   background: hsl(0, 0%, 50%);
// }

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--white);
}

::-webkit-scrollbar-thumb {
  background: hsl(0, 0%, 50%);
}
