.header {
  overflow: hidden;
  line-height: 1.2;

  &--nav {
    width: 60%;
    margin: 0 auto;
    display: flex;
    // flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    padding: 3.5rem 0;

    &-nav {
      display: flex;
      align-items: center;
      gap: 4rem;
      list-style: none;
    }

    &-link {
      text-decoration: none;
      font-size: 1.5rem;
      color: hsl(231, 61%, 22%);
      font-weight: 700;
      transition: 0.3s;
    }

    &-item::after {
      content: "";
      width: 0;
      height: 3px;
      margin: 0 auto;
      background: hsl(2, 100%, 69%);
      display: block;
      transition: all 0.5s;
    }

    &-item:hover::after {
      width: 100%;
    }
  }

  &--logo {
    margin-right: auto;
    transition: all 0.3s;
    cursor: pointer;

    &:hover {
      transform: translateY(-6px);
    }
  }

  &--container {
    width: 60%;
    margin: 10rem auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 5rem;
    z-index: 1;
  }

  &--img {
    width: 100%;
  }

  &--heading {
    font-size: 6rem;
    color: hsl(231, 100%, 8%);
    margin-bottom: 2.5rem;
    font-weight: 900;
    transition: all 0.5s;

    &:hover {
      scale: 1.05;
    }
  }

  &--text {
    font-size: 2rem;
    color: hsl(231, 100%, 8%);
    margin-bottom: 2.5rem;
  }
}
.sticky {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.95);
  width: 100%;
  padding: 1.5rem 3.5rem;
  box-shadow: 5px -5px 32px -7px rgba(0, 0, 0, 0.75);
}

.bg-png {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  background-image: linear-gradient(rgba(AntiqueWhite, 0.5));
}

// .hamburger {
//   display: none;
//   cursor: pointer;
// }

.openmenu {
  font-size: 3.5rem;
  cursor: pointer;
  display: none;
  border: none;

  background: none;

  &:focus {
    outline: none;
    background: none;
  }
}
.closemenu {
  font-size: 3.5rem;
  cursor: pointer;
  display: none;
  position: absolute;
  top: 2rem;
  right: 2rem;
  border: none;
  outline: none;
  background: none;
  color: #000;
}

@keyframes waveAnim {
  0% {
    transform: translate(0, 0) rotate(0);
  }
  100% {
    transform: translate(2px, 2px) rotate(1deg);
  }
}

@media only screen and (max-width: 1500px) {
  .header {
    &--container {
      width: 80%;
      text-align: center;
      grid-template-columns: 1fr;
    }

    &--img {
      display: none;
    }

    &--heading {
      font-size: 5.5rem;
      font-weight: 900;
    }

    &--text {
      font-size: 2rem;
      font-weight: 500;
    }

    &--nav {
      width: 80%;
    }
  }

  .sticky {
    width: 100%;
  }
}

@media only screen and (max-width: 1200px) {
  .openmenu {
    display: block;
  }
  .closemenu {
    display: block;
  }

  .header {
    &--nav {
      // &-nav {
      //   //version 2
      //   // display: none;
      //   // width: 100%;
      //   // flex-direction: column;
      //   // margin-top: 2.5rem;

      //   // text-transform: uppercase;

      //   //version 1
      //   height: 100vh;
      //   position: fixed;
      //   top: 0;
      //   left: 0;
      //   right: 0;
      //   z-index: 10;
      //   display: none;
      //   // visibility: hidden;

      //   flex-direction: column;
      //   justify-content: center;
      //   align-items: center;
      //   transition: top 0.5s ease-in-out;
      //   // transition: all 1s;

      //   // background-color: hsl(39, 100%, 52%);
      //   background-image: linear-gradient(
      //     to right,
      //     hsl(335, 87%, 53%),
      //     hsl(2, 100%, 69%)
      //   );
      //   color: #fff;
      //   text-transform: uppercase;
      // }

      &-nav {
        // display: flex;
        flex-direction: column;

        position: fixed;
        width: 100%;
        height: 100vh;

        top: -100vh;

        // top: 7.5rem;
        left: 0;
        text-align: center;
        z-index: 10;

        overflow-y: auto;
        // background-image: linear-gradient(
        //   hsl(335, 87%, 51%),
        //   hsl(335, 87%, 51%)
        // );
        // background-image: linear-gradient(
        //     rgb(255, 255, 255),
        //     rgb(255, 255, 255)
        //   ),
        //   url(../images/bg.png);
        // background-position: center;
        // background-size: cover;
        // background-image: linear-gradient(
        //   rgb(250, 235, 215),
        //   rgb(255, 228, 196)
        // );
        //rgb(250, 235, 215)
        background-color: #fff;

        padding: 3rem;
        padding-top: 15rem;
        align-items: center;
        transition: all 0.5s;
        color: #000;
        text-transform: uppercase;

        // background-color: #fff;
        // position: fixed;
        // top: 0;
        // left: -280px;
        // width: 100%;
        // max-width: 280px;
        // min-height: 100%;

        // padding: 20px;
        // visibility: hidden;
        // z-index: 10;
        // transition: 0.25s;
        // flex-direction: column;
      }

      &-link {
        color: inherit;
      }
    }

    .hidden {
      top: 0;
    }

    // .header--nav-nav.active {
    //   transform: translateX(280px);
    //   visibility: visible;
    //   transition: 0.5s;
    // }

    // .header--nav-nav {
    //   all: unset;
    //   margin-inline-start: auto;
    // }

    // .header--nav-nav.show {
    //   display: flex;
    //   transition: all 0.5s;
    // }

    .btn {
      margin-left: 0;
      background-color: hsl(39, 100%, 52%);
    }
  }
}
