.reason {
  padding: 15rem 0;

  &--container {
    width: 60%;
    margin: 0 auto;
  }

  &--box-1 {
    display: flex;
    align-items: center;
    gap: 5rem;
    margin-bottom: 5rem;
  }

  &--box-2 {
    display: flex;
    align-items: center;
    gap: 5rem;
    flex-direction: row-reverse;
  }

  &--img {
    width: 100%;
    display: block;
  }

  .description {
    width: 50%;
    margin-right: auto;
  }

  .description-2 {
    width: 50%;
    margin-left: auto;
  }

  &--heading {
    font-size: 4rem;
    line-height: 1.3;
    margin-bottom: 3rem;
    color: hsl(231, 61%, 22%);
    font-weight: 900;
    transition: all 0.2s;

    &:hover {
      scale: 1.05;
    }
  }

  &--text {
    font-size: 2.1rem;
    color: hsl(240, 9%, 53%);
  }
}

@media only screen and (max-width: 1100px) {
  .reason {
    &--container {
      width: 90%;
    }
    &--box-1 {
      flex-direction: column;
      text-align: center;
    }
    &--box-2 {
      flex-direction: column;
      text-align: center;
    }

    .description {
      width: 100%;
    }

    .description-2 {
      width: 100%;
    }

    &--heading {
      font-size: 2.9rem;
    }

    &--text {
      font-size: 2.3rem;
    }
  }
}
